/* --------- Flex container --------- */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template: 
    "header header header"
    ". main ."
    "footer footer footer";
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer { 
    grid-area: footer;
}



box {
    display: inline-block;
    width: 200px;
    height: 200px;
}
/* ------- Utility Classes --------- */
.black {
    background-color: black;
}