body {
    /* margin: 0; */
}

/* --------- Flex container --------- */
.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template: 
    "header header header"
    "nav main ."
    "footer footer footer";
}

header {
    grid-area: header;
    background-color: blanchedalmond;
    /* text-align: center; */
}

nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main {
    grid-area: main;
    background-color: burlywood;
    justify-content: center;
}

section {
    text-align: center;
}

.buttons {
    display: flex;
    width: 300px;
    margin: 5px;
    justify-content: space-around;
    /* column-gap: 3px; */
}

button {
    width: 70px;
}

footer { 
    grid-area: footer;
    background-color: coral;
}

box {
    display: inline-block;
    width: 200px;
    height: 200px;
}

/* -------- Game Board -------- */

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

.board {
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* justify-content:center; */
    /* align-items: center; */
}

/* make each box flex to center x/o */
.block {
    border: 3px solid honeydew;    
    font-size: 3rem;
    font-weight: bold;
    color: honeydew;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#block1,
#block2,
#block3 {
    border-top: none;
}

#block1,
#block4,
#block7 {
    border-left: none;
}

#block3,
#block6,
#block9 {
    border-right: none;
}

#block7,
#block8,
#block9 {
    border-bottom: none;
}

/* ------- Utility Classes --------- */
.black {
    background-color: black;
}

.left {
    float: left;
}

.right {
    float: right
}

/* ------- Media Screens ------- */
/* TODO for mobile, turn board to grid w/
    flexible dimensions that are % of width
 */